<!--  
Copyright 2015 SPECS Project - CeRICT

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

@author  Massimiliano Rak massimiliano.rak@unina2.it
@author  Luigi De Matteis luigi.dematteis2@studenti.unina2.it
-->


<style>


</style>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Negotiated SLA</h2>
  </div>
  <div class="panel-body ">
    <div class="well">
      A Security SLA has been built according to your choices during the negotiation process.<br>
      Check it and submit it in order to have it stored in your collection of negotiated SLAs.<br>
      
          The next steps of the SPECS Application will enable you to sign and implement the SLA.
    </div>
    
 <div class="panel panel-default" ng-repeat="sla in capabilities">
 	<h4 align="center"><b>SLA Component {{sla.component}}           </b></h4><h4 align="center"><button class="btn btn-primary" ng-click="toggleTable(sla.component)">Show/Hide</button>  <a class="btn btn-primary" style="align:right;" ng-click="downloadSLA(sla)" ng-href="{{ fileUrl }}" download="SLA_{{sla.component}}.xml">download</a></h2>
   <textarea style="width:100%; display:none; white-space: pre-line; " rows="40" cols="150" disabled id="{{sla.component}}">
   {{stringa_template_pre}}{{sla.component}}{{stringa_template_pre2}}{{sla.comptype}}{{stringa_template_pre3}}
   {{sla.sla}} 
   {{stringa_template_post}}
   
   </textarea><br><br>
   <!-- <button class="btn btn-primary" ng-click="submitSLA()">REQUEST OFFERS</button><br><br><br>  -->     
    </div>     

        
        
<!-- {{controlselection}}   <br> -->
  
<!-- prova dati utente in cookie-->	
{{user_name}} {{user_surname}} {{user_id}}          
  </div>

 
</div>
