<!--  
Copyright 2015 SPECS Project - CeRICT

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

@author  Massimiliano Rak massimiliano.rak@unina2.it
@author  Luigi De Matteis luigi.dematteis2@studenti.unina2.it
-->


<!-- <div ng-include="'resources/views/navigator.html'"></div>
 -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Implementation Details</h2>
  </div>
  <div class="panel-body ">
    <div class="well">
	Here you can see the implementation details of this application.<br>
	In order: <ul>
	<li>Activity Diagram</li>
	<li>Use Case Diagram</li>
	<li>ER Diagram (Database)</li>
	<li>Class Diagram</li>
	<li>Deployment Diagram</li>
	<li>Domain Diagram</li>
	
	</ul>
    </div>
    
    <style>
          table, th , td {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
            
         }
         
		img	{
			width:100%;
		} 

#changer {
width: 300px;
}
#changer:focus {
width: 100%;
}

</style>

<div>
<table style="align:center; width:100%" >
	<tr><td id="changer" tabindex="0" ng-repeat="foto in fotolist"><img ng-src="data:image/jpeg;base64,{{foto.photo}}" ng-click="removefocus()"/></td></tr>
</table>
</div>

	
<br><br><br><br><br><br><br><br><br>




    
    
</div></div>













  




