<!--  
Copyright 2015 SPECS Project - CeRICT

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

@author  Massimiliano Rak massimiliano.rak@unina2.it
@author  Luigi De Matteis luigi.dematteis2@studenti.unina2.it
-->


<!--<div ng-include="'views/navigator.html'"></div>-->
<div ng-include="'resources/views/navigator.html'"></div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
      	<h1>SLA Editor</h1>
        <h2>Threat Modeling & Security Controls Selection</h2>
       <!--   <p>Welcome to the demonstrator SPECS Application. <br/> -->
        This wizard will guide you through the main steps of the application which together constitute the
        
        <table border="0" cellpadding="10" cellspacing="10">
    		<tr>
      			<td valign="top"><b>SLA Negotiation:</b></td>
      			<td valign="top">
					<ol> 
     					<li>Insert System Detail</li>
        				<li>Threat Modeling</li>
        				<li>Ranking</li>
       					<li>Security Controls Selection</li>
        				<li>Security Metrics</li>
        				<li>Build SLA</li>
        			</ol>
				</td>
   			</tr>
<!--    			<tr>
      			<td valign="top"><b>SLA Implementation</b></td>
   			</tr>
   				<td valign="top"><b>SLA Monitoring</b></td>
   			</tr> -->
		</table>
        
<!-- 	      <p>Enjoy your SPECS experience! :) -->
        </p>
<!--         <p><a class="btn btn-primary btn-large" ui-sref="form.start">Start Negotiation &raquo;</a></p>-->
<!--         <p><a class="btn btn-primary btn-large" ui-sref="negotiate.start">Start Negotiation &raquo;</a></p>-->
             <p><a class="btn btn-primary btn-large" ng-click="go('negotiate.start');">Start Application &raquo;</a></p>
      </div>
    </div>

<!-- <div ng-include= "'views/footer.html'"></div>-->
<div ng-include= "'resources/views/footer.html'"></div>

